*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    display: grid;
    place-content: center;
}

#second-layer{
    position: absolute;
    width: 100%;
    height: 100%;
}

ul{
    display: flex;
    align-items: center;
}

li{
    all: unset;
}